.home {
	padding: 56px 20px;
	min-height: 100%;
}

.button {
	background: #673AB7;
	display: inline-block;
}

.button button {
	display: inline-block;
	font-weight: bold;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.button button:hover,
.button button:focus {
	background: rgba(0,0,0,0.2);
}
