.userNav {
	text-align: right;
    font-weight: bold;
    margin-right: 60px;
    margin-top: 40px;
}

.userNav p {
	margin: 0;
}

.logButton {
	background: inherit;
	border: 0;
	color:  #3F301D;
	text-decoration: underline;
}

.logButton:hover,
.logButton:focus {
	text-decoration: none;
	cursor: pointer;
}