.formFooter {
    padding: 60px;
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin: 50px auto 0 auto;
    border-radius: 10px;
}