.layout {
	display: flex;
}

.sidebar {
	padding: 60px;
	background-color: #DFD2C1;
	max-width: 500px;
	min-height: 100vh;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
	flex: 1;
}

.userNav {
	text-align: right;
	font-weight: bold;
}

.userNav p {
	margin: 0;
}

.logButton {
	background: inherit;
	border: 0;
	color:  #3F301D;
	text-decoration: underline;
}

.logButton:hover,
.logButton:focus {
	text-decoration: none;
	cursor: pointer;
}